{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<p>This wiki is your one stop center to all information related to Google Tech Exchange Program</p>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_w9bdffcb.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop controls autoplay></lottie-player>

<h3>Your Authors</h3>
<h4>Divine Faleye</h4>

<h4>Daniel Oluwarotimi</h4>
<img src= "/images/danieloluwarotimi.jpg" width="100" >
<img src= "" alt="" width="" height="">
<h4>Alejandro Olivas</h4>
<img src=" " alt="" width=" " height=" ">

<!-- TODO(Project 1): Add team members and pictures to about page. -->

{% endblock %}

