{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<p>This wiki is your one stop center to all information related to Google Tech Exchange Program</p>

<h3>Your Authors</h3>
<h4>Divine Faliye</h4>
<img src= "/images/danieloluwarotimi.jpg" width="100" >

<h4>Daniel Oluwarotimi</h4>

<img src= "" alt="" width="" height="">
<h4>Alejandro Olivas</h4>
<img src=" " alt="" width=" " height=" ">

<!-- TODO(Project 1): Add team members and pictures to about page. -->

{% endblock %}

