{% extends "base.html" %}

{% block title %} <title>Google Student Programs</title> {% endblock %}

    <!-- Bootstrap CSS -->
    <!-- <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous"
    /> -->
    <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
    <!-- <title>Google Student Programs</title>
</head> -->
    

<body>
    <!-- TODO(Project 1): Implement routes. -->
    
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block content %}
        <style>
            body{
                background-color: black;
                background-image: url('https://s.hdnux.com/photos/01/23/56/41/21948520/4/rawImage.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
            main{
                display:flex;
                flex-direction: column;
                min-height: 93vh;
                justify-content: center;
                align-items: center;
            }
        </style>
        <div class="text-light p-5 text-center">
            <div class="container">
                <div>
                    <h1><strong>Welcome to the Wiki!</strong></h1>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-success" role="alert">
                                    <strong>{{ msg }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
        ></script> -->
    </div>
</body>

</html>