{% extends "base.html" %}

{% block content %}
<style>
    main{
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-upload{
        width: 600px;
        margin: auto;
    }
    @media (max-width: 575px){
        .form-upload{
            width: 80%;
        }
    }
</style>
<main>
    <div class="container-fluid form-upload m-auto">
        <h2 class='mb-4 fw-normal'>Upload a <span class="text-primary">Doc</span> to the Wiki</h2>
        
        <form class="form-inline" method="POST" action="/upload" enctype="multipart/form-data">
            
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label text-start" for="inlineFormInputName2">Page Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Name" name="wikiname" required>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label text-start" for="inlineFormInputGroupUsername2">Upload Text File:</label>
                <div class="col-sm-9 mb-2 mr-sm-2 text-start">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" accept=".txt" required>
                </div>
            </div>    
                <button type="submit" class="btn btn-secondary mb-2">Upload</button>
        </form>
    </div>
</main>
    

{% endblock %}
