{% block content %}
    <h2> Welcome to {{page_name}}</h2>
    <h4>{{content}}</h4>
    {% if "user" in session %}
        <form method="POST" action='/pages/{{ page_name }}'>
            <input type='text' name='user_comment' id="text" placeholder="Enter your comment here!" />
            <input type="hidden" name="page_name" value="{{ page_name }}">
            <button type= "submit" >Comment</button>
        </form>
    {% endif %}
    {%for user in comments_inpage %} 
        <div>
        {% for comments in comments_inpage[user] %}
            <p>{{ user }}: {{comments}}<p>
        {% endfor %}
        </div> 
    {% endfor %}
{% endblock %}

